/* Default */

*,*:before,*:after{box-sizing:border-box}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,code,em,img,footer,header,small,strike,strong,sub,sup,ol,ul,li,canvas,menu,nav,section,video,time,progress{margin:0;padding:0;border:0;outline:0;font:inherit;font-size:100%;font-weight:inherit;vertical-align:baseline;background:transparent no-repeat top left}ol,ul{list-style:none;padding:0}a{text-decoration:none}html{min-height:100%}body{position:relative;min-height:100%;font-size:62.5%;line-height:1.4;font-family:"Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;color:#222;background-color:#fff;-webkit-text-size-adjust:none}strong{font-weight:bold}svg{display:inline-block;max-width:100%;max-height:100%}img,video{max-width:100%}.clearfix:before,.clearfix:after{content:"";display:table}.clearfix{zoom:1;}.clearfix:after{clear:both}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
  overflow: hidden;
  background-color: #f7eae6;
}

canvas {
  width: 100%;
  height: 100%;
}


/* Learn styles */

body {
    font-family: serif;
    font-size: 18px;
    line-height: 1.4;
    color: #333;
    margin: 80px 40px;
    background-color: #eee;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #222;
    text-shadow: 1px 1px 2px 1px yellow;
    text-align: center;
}

section {
    padding: 50px;
    text-align: center;
    font-size: 0;
}

section::after {
    content: '';
    display: inline-block;
    width: 400px;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
}

section h2 {
    text-align: left;
    font-size: 20px;
    line-height: 1.1;
    color: #555;
    margin-bottom: 20px;
}

section > ul > li {
    display: inline-block;
    width: 250px;
    margin: 0 50px;
}

article {
    font-size: 18px;
    color: #333;
}

article picture {
    position: relative;
    width: 100%;
    display: block;
}

article picture::after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
}

article picture div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

article > div {
    border-top: 1px solid yellow;
    line-height: 20px;
    padding: 5px;
    border: 1px solid yellow;
}

article > div + div {
    border-top: 0;
}

article > div[lang=en] {
    font-style: italic;
    color: #666;
}



/* Colors */

section[title="colors"] > ul > li {
    max-width: 150px;
    margin: 0 20px;
}

section[title="colors"] article {
}